@page "/"
@rendermode InteractiveServer
@inject ICalculator calculator

<div class="index">
    <div class="calcdisplay">
        <span class="whitetext">@OprendLeft</span>
        <span class="whitetext">@Operation</span>
        <span class="whitetext">@OprendRight</span>
    </div>
    <div>
        <div class="numpad">
            <div>
                <button class="whitebg blacktext" @onclick ='()=>AddOprend("1")'>1</button>
                <button class="whitebg blacktext" @onclick ='()=>AddOprend("2")'>2</button>
                <button class="whitebg blacktext" @onclick ='()=>AddOprend("3")'>3</button>
            </div>
            <div>
                <button class="whitebg blacktext" @onclick ='()=>AddOprend("4")'>4</button>
                <button class="whitebg blacktext" @onclick ='()=>AddOprend("5")'>5</button>
                <button class="whitebg blacktext" @onclick ='()=>AddOprend("6")'>6</button>
            </div>
            <div>
                <button class="whitebg blacktext" @onclick ='()=>AddOprend("7")'>7</button>
                <button class="whitebg blacktext" @onclick ='()=>AddOprend("8")'>8</button>
                <button class="whitebg blacktext"  @onclick ='()=>AddOprend("9")'>9</button>
            </div>
            <div>
                <button class="whitebg blacktext" @onclick ='()=>AddOprend("0")'>0</button>
            </div>
        </div>
        <div class="operations">
            <button class="orangebg whitetext" @onclick ='()=>AddOperation("+")'>+</button>
            <button class="orangebg whitetext" @onclick ='()=>AddOperation("-")'>-</button>
            <button class="orangebg whitetext" @onclick ='()=>AddOperation("*")'>*</button>
            <button class="orangebg whitetext" @onclick ='()=>AddOperation("/")'>/</button>
        </div>
    </div>
    <div>
        <button class="graybg whitetext" @onclick ='()=>Clear()'>c</button>
        <button class="equals orangebg whitetext" @onclick ='()=>CalculateResult()'>=</button>
    </div>
</div>

@code {
    private string OprendLeft = "";
    private string Operation = "";
    private string OprendRight = "";

    void Clear(){
        OprendLeft = "0";
        Operation = "";
        OprendRight = "";
    }

    void AddOperation(string operation){
        Operation = operation;
    }

    void AddOprend(string s){
        if(String.IsNullOrEmpty(Operation)){
            OprendLeft = prepForDispay(OprendLeft + s);
        }
        else {
            OprendRight = prepForDispay(OprendRight + s);
        }
    }

    void CalculateResult(){
        double left = Convert.ToDouble(OprendLeft);
        double right = Convert.ToDouble(OprendRight);
        double result = calculator.calculate(left, Operation, right);
        Clear();
        OprendLeft = result.ToString();
    }

    string prepForDispay(string oprend){
        string result = oprend;
        bool goodToGo = false; 
        while(!goodToGo) {
            bool allDone = true;
            if(result.Length > 1 && result.StartsWith("0")){
                result = result.Substring(1);
                allDone = false;
            }
            if(result.StartsWith(".")){
                result = "0" + result;
                allDone = true;
            }
            goodToGo = allDone;
        }

        return result;
    }
}