html,
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: black;
}

.app,
.app * {
    display: flex;
}

.index {
    flex-direction: column;
    flex: 1
}

.calcdisplay{
    justify-content: end;
    font-size: 3em;
    
}
.numpad {
    flex-direction: column;
    flex: 3
}

.operations {
    flex-direction: column;
    flex: 1
}

button{
    flex: 1;
    font-size: 3em;
}

button {
    align-items: center;
    justify-content: center;
}

.equals {
    flex: 2
}

.whitetext {
    color: white;
}

.blacktext {
    color: black;
}

.orangebg {
    background-color: orange;
}

.whitebg {
    background-color: white;
}

.graybg {
    background-color: gray;
}